<div class=""></div>
<mat-sidenav-container
class="sidenav-container"
[hasBackdrop]="false">
    <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="'navigation'"
    [mode]="'over'"
    opened="true">
      
        <mat-toolbar>
            <a class="home-button" routerLink="/">
              <img class="app-logo" src="../../../assets/mint.jpg" />
            </a>
          </mat-toolbar>
          <mat-nav-list class="navigation-list">
            <a
              mat-list-item
              class="navigation-item"
              type="button"
              aria-label="Toggle sidenav"
              (click)="randomFunction()"
            >
              
            </a>
            <mat-divider class="navigation-divider"></mat-divider>
            <a
              class="navigation-item"
              mat-list-item
              routerLink="/home/"
              routerLinkActive="active"
            >
             <span class="navigation-item-label">Home</span>
            </a>
      
            <a
              class="navigation-item"
              mat-list-item
              routerLink="/news/"
              routerLinkActive="active"
            >
              <span class="navigation-item-label">News</span>
            </a>
            
        </mat-nav-list>
      </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
          <div id="header" fxLayout="row">
            <!-- <div fxFlex="30%">
              <div *ngIf="(currentCorporate$ | async).customer_code">
                <button mat-flat-button (click)="openCorporationsList()">
                  <img
                    [src]="(currentCorporate$ | async)?.customer_image"
                    [alt]="(currentCorporate$ | async)?.customer_name"
                    style="height: 20px;"
                  />
                  <span class="ml-1">{{
                    (currentCorporate$ | async)?.customer_name
                  }}</span>
                  <span class="ml-1"
                    >(ID : {{ (currentCorporate$ | async)?.customer_code }})</span
                  >
                </button>
              </div>
      
              <mat-icon *ngIf="!(currentCorporate$ | async).customer_code">
                <mat-spinner aria-label="Filtering ..." diameter="20" color="dark">
                </mat-spinner>
              </mat-icon>
               </div> -->
            <div fxFlex="30%" class="has-text-right"></div>
            <div fxFlex="40%">
              <div class="header-menu">
                <span class="mr-1">Welcome</span>
                <b>Kelly</b>
                 <button
                  mat-icon-button
                  [matMenuTriggerFor]="userMenu"
                  class="header-menu-button"
                >
                  <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #userMenu="matMenu" xPosition="before">
                  <button
                    mat-menu-item
                    routerLink="/settings/"
                    routerLinkActive="active"
                  >
                    <mat-icon>settings</mat-icon>
                    Settings
                  </button>
                  <mat-divider></mat-divider>
                  <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    Logout
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
      
          <div id="main-ihela-container">
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
        
</mat-sidenav-container>
