$aside-padding: 60px;

.sidenav-container {
  height: 100%;

  .sidenav {
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    .home-button {
      width: 100%;
      padding-top: 60px;
      margin-bottom: 30px;
      display: inline-block;

      .app-logo {
        width: 120px;
        margin: 0 auto;
        display: block;
      }
    }

    .mat-toolbar {
      background: inherit;
    }

    .navigation-list .navigation-item .mat-icon {
      margin-right: 5px;
    }

    .navigation-list .navigation-item .navigation-item-label {
      padding-top: 2px;
    }
  }

  .sidenav-content {
    .sidenav-content-toolbar {
      // background: #062639;
      // color: #fff;
      padding-left: $aside-padding;

      .menu-button:focus {
        outline: none;
      }

      .navbar-link {
        // color: #fff;
        padding-right: 10px;
        cursor: pointer;
      }

      .navbar-link:focus {
        outline: none;
      }

      .gifts a {
        // color: #fff;
        display: inline-block;
        padding-top: 7px;
        padding-right: 20px;
        position: relative;
      }

      .gifts:focus {
        outline: none;
      }
    }

    .filler {
      flex: 1 1 auto;
    }

    .mat-toolbar.mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}

/*left sidenav style override*/
mat-sidenav:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 60px !important;
  overflow: hidden;
}
mat-sidenav:not(.mat-drawer-opened) .navigation-item-label {
  display: none !important;
}
mat-sidenav:not(.mat-drawer-opened) .home-button {
  display: none !important;
}

// Header
#header {
  padding-left: $aside-padding + ($aside-padding / 3);
  padding-right: $aside-padding / 2;
  padding-top: $aside-padding / 6;
  padding-bottom: $aside-padding / 6;

  &.aside-expanded {
    padding-left: $aside-padding / 3;
  }

  .header-menu {
    text-align: right;

    .header-menu-button {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .corp-switch {
    padding-top: 0px !important;
    border-radius: 5px;

    a {
      border-radius: 5px !important;

      &:hover {
        background: #fff !important;
      }
    }
  }
}

// Main iHela Container
#main-ihela-container {
  padding-left: $aside-padding + ($aside-padding / 3);
  padding-right: $aside-padding / 2;
  padding-top: $aside-padding / 6;
  padding-bottom: $aside-padding / 6;
}
