$primary:#03DAC5;
.container {
    padding: 10px;
    .stocks-div {
        float: left;
        width: 30%;
    }
        .stocks-div .stock-div{
            display: block;
        }
        .stocks-div .stock-div .symbol{
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
            color: $primary;
        }
            .stocks-div .stock-div .symbol:hover{
                text-decoration: underline;
            }
        .stocks-div .stock-div .company-name{
            font-size: 13px;
            padding-left: 5px;
        }
    .ticker-info-div{
        float: left;
        width: 70%;
    }
}
.navigation-item{
    margin: 5px;
    &:hover{
      color:#03DAC5
    }
    .mat-icon{
      margin-right:10px;
    }
    .navigation-item-label{
      padding-top: 2px;
      }
      
    }