<div *ngIf="newsDetails"  >
    
    
    <div class="card-container">
        <div class= "column is-2 news-card " *ngFor="let newsDetails of newsList">
            <div class="card-img">
                <img [src]='newsDetails.image'>
            </div>
            <div class="card-content">
                <h4>{{ newsDetails.title }}</h4>
                <h5>{{newsDetails.summary}}</h5>
            </div>
            <div class= "card-footer">
                <h5 >~{{ newsDetails.author}}</h5>
                <h5>{{ newsDetails.pubDate}}  ({{ newsDetails.provider}})</h5>
                
                
                <!-- <a>{{newsDetails.canonicalUrl}}</a> -->
            </div>
        </div>
    </div>
    
    
</div>
